<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amenities</title>
    <link rel="stylesheet" href="../../assets/styles/guest.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a class="nav-brand" href="home.html">JABUBU</a>
            <ul>
                <li class="menu11"><a href="home.html">Home</a></li>
                <li class="menu11"><a href="amenities.html">Amenities</a></li>
                <li class="menu11"><a href="rooms.html">Rooms</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <ul id="navUsername"></ul>
            <button id="loginBtn">LOGIN</button> 
            <button id="logoutBtn" style="display:none">LOGOUT</button>      
        </div>
    </div>


    brah
</body>
</html>