<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/styles/guest.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a class="nav-brand" href="home.html">JABUBU</a>
            <ul>
                <li class="menu11"><a href="home.html">Home</a></li>
                <li class="menu11"><a href="amenities.html">Amenities</a></li>
                <li class="menu11"><a href="rooms.html">Rooms</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <ul id="navUsername"></ul>                     
            <button id="loginBtn">LOGIN</button> 
            <button id="logoutBtn" style="display:none">LOGOUT</button>      
        </div>
    </div>

    <div id="rooms"></div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modalTitle">Book Room</h3>
            <input type="hidden" id="selectedRoomID">

            <div class="formField">
                <label>CHECK IN</label>
                <input type="date" id="modalCheckIN">
            </div>
            <div class="formField">
                <label>CHECK OUT</label>
                <input type="date" id="modalCheckOUT">
            </div>

            <div class="guestsAge">
                <label>Adults (18+)</label>
                <div class="guestsAgeValue">
                    <button type="button" id="minusAdult">-</button>
                    <span id="adultCount">1</span>
                    <button type="button" id="plusAdult">+</button>
                </div>
            </div>

            <div class="guestsChild">
                <label>Children (10 and below)</label>
                <div class="guestsAgeValue">
                    <button type="button" id="minusChild">-</button>
                    <span id="childCount">0</span>
                    <button type="button" id="plusChild">+</button>
                </div>
            </div>

            <div class="pet">
                <label>Bringing a pet?</label>
                <input type="checkbox" id="petCheck">
            </div>

            <div class="discount">
                <label>Discount:</label><br>
                <input type="radio" name="discount" value="" checked> None<br>
                <input type="radio" name="discount" value="1"> PWD<br>
                <input type="radio" name="discount" value="2"> Senior Citizen<br>
            </div>

            <button type="button" id="doneBtn">Confirm Booking</button>
        </div>
    </div>

    <script src="../../assets/scripts/jq.js"></script>
    <script src="../../assets/scripts/rooms.js"></script>
</body>
</html>