<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotions</title>
    <link rel="stylesheet" href="../../assets/styles/staff.css">
</head>
<body>
    <div class="sidebar">
        <h2>Hotel Management</h2>
        
        <a href="dashboard.html" class="menu-item">Dashboard</a>
        <a href="rooms.html" class="managerOnly">Rooms</a>
        <a href="reservations.html" class="managerOnly">Reservations</a>
        <a href="promotions.html" class="managerOnly">Promotions</a>
        <a href="reports.html" class="managerOnly">Reports</a>
        <a href="user.html" class="adminOnly">Manage Users</a>
        
        <div class="sidebar-bottom">
            <a href="#" id="logoutBtn" class="menu-item logout">LOGOUT</a>
        </div>
    </div>   
</body>
</html>