<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/styles/manager.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="home.html">Dashboard</a>
        <a href="approveBookings.html">Manage Bookings</a>
        <a href="manageRooms.html">Manage Rooms</a>
        <a href="#about">Settings</a>
    </div>
</body>
</html>